spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: "${EMAIL_USERNAME}"
    password: "${EMAIL_PASSWORD}"
  application:
    name: FunkoStore

  datasource:
    driverClassName: org.postgresql.Driver
    url: ${DATABASE_URL:jdbc:postgresql://dpg-d527gjkhg0os73eet06g-a.ohio-postgres.render.com/onlinestore_aud2}
    username: ${DATABASE_USERNAME:bolashak}
    password: ${DATABASE_PASSWORD:4oLhQJoHcyUJ4pC2Dfrbuu9Wbmltz95P}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
    hibernate:
      ddl-auto        : update
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 1000MB

jwt:
  secret: 553389489ac506c280ee6bdbf29ce71ba1f9a0d1dbd16bc1c2bfa13fb862a8db

server:
  servlet:
    context-path: '/api/'
  error:
    include-message: always
  port: ${PORT:8080}
  address: 0.0.0.0

aws:
  access-key: "${AWS_ACCESS_KEY_ID}"
  secret-key: "${AWS_SECRET_ACCESS_KEY}"
  s3:
    region: "${AWS_REGION}"
    bucket: "${S3_BUCKET_NAME}"
